* {
  margin: 0;
  padding: 0;
}

#leaflet-map {
  background: #0000;
  filter: drop-shadow(0 0 5rem rgb(12, 12, 12));
}

.leaflet-control { z-index: 0 !important}
.leaflet-pane { z-index: 0 !important}
.leaflet-top, .leaflet-bottom {z-index: 0 !important}

