#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

.chef-rpg-map {
  margin: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

#leaflet-map {
  background: #0000;
  filter: drop-shadow(0 0 5rem rgb(12, 12, 12));
}
