:root {
    --button-color: #212121;
    --bg-color: #141414;
}

.sidebar {
    position: fixed;
    top: 0%;
    right: 0%;
    background-color: var(--bg-color);
    min-height: 100vh;
    width: 450px; 
    transition: transform 0.5s ease-in; 
    z-index: 10;
    transform: translateX(100%);
}

.sidebar.open {
    transform: translateX(0); 
}

.sidebar.closed {
    transform: translateX(100%); 
}

.sidebar > * {
    margin: 1rem;
}

.sidebar input[type="text"] {
    margin-top: 0.8rem;
    padding: 0.5rem;
    width: 95%;
}

.sidebar select {
    padding: 0.5rem;
    margin-bottom: 0.8rem;
}

.sidebar button {
    position: fixed;
    background-color: var(--bg-color);
    transition: transform 0.5s ease-in-out; 
}

.sidebar.open button {
    transform: translateX(-2vw);
}

.sidebar.closed button {
    transform: translate(-5vw);
}

.menu {
    padding-top: 5vh;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(100%); 
    }

    .sidebar.open button {
        transform: translateX(2vw);
    }

    .sidebar.closed button {
        transform: translateX(-15vw);
    }

    /*TODO: Change Icon */
    .sidebar button {
        transform: translate(0px);
    }

    .menu {
        padding-top: 10vh;
    }
}

@media (max-width: 450px) {
    .sidebar.closed button {
        transform: translateX(-15vw);
    }


    .sidebar.open button {
        transform: translateX(2vw);
    }

    .menu {
        padding-top: 10vh;
    }
}


@media (max-width: 375px) {
    .sidebar.closed button {
        transform: translateX(-38vw);
    }


    .sidebar.open button {
        transform: translateX(2vw);
    }

    .menu {
        padding-top: 10vh;
    }
}

.types-container,
.ingredients-container,
.buildings-container {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 0.25rem;
}

.types-list {
    list-style: none;
}
.types-list li {
    float: left;
    margin: 5px;
}
