/*TODO: sidebar should slide open and close */

:root {
    --button-color: #212121;
    --bg-color: #141414;
}

.sidebar {
    position: fixed;
    top: 0%;
    right: 0%;
    background-color: var(--bg-color);
    z-index: 10;
    height: 100vh;
    width: 450px;
    transition: transform 0.5s ease-in;
}

.sidebar > * {
    margin: 1rem;
}

.sidebar input[type=text]{
    margin-top: 0.8rem;
    padding: 0.5rem;
    width: 95%;
}

.sidebar select {
    padding: 0.5rem;
    margin-bottom: 0.8rem;
}

#sidebarButton {
    position: fixed;
    background-color: var(--bg-color);
    transform: translateX(-80px);
    border-radius: 0px;
}

.types-container {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 0.25rem;
}

.ingredients-container {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap:0.25rem;
}

.buildings-container {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 0.25rem;
}